@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-white transition-colors;
  }
}
